.page {
  background: #F6F6F6;
  height: 100%;
  @include column(9);
  padding:0;


  .header {
    .left-decorative {
      width: 55px;
      border-right: 1px solid rgb(213, 114, 114);
      margin-right: 4px;
      height: 93px;
      float: left;
    }

    .title {
      outline: none;
      line-height: 93px;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 600;
      padding-left: 16px;
      float: left;
      border-left: 1px solid rgb(213, 114, 114);
      overflow: hidden;
      height: 93px;
      
    }
  }
  .content {
    line-height: 38px;
    height: 381px;
    overflow: hidden;
    overflow-y: scroll;

    .left-decorative {
      width: 55px;
      border-right: 1px solid rgb(213, 114, 114);
      margin-right: 4px;
      float: left;
    }

    .body {
      background: url(/images/lines.png);
      border-bottom: 1px solid rgb(218, 212, 212);
      overflow: hidden;
    }
  }
  .secondary-content {
    outline: none;
    padding: 0 10px;
    text-align: center;
    min-height: 380px;
  }
  .note {
    outline: none;
    float: left;
    width: 643px;
    border-left: 1px solid rgb(213, 114, 114);
    min-height: 380px;
    padding: 0 16px;

    p {
      margin:0;
    }
  }
}
