.sidebar {
  height: 100%;
  background: #2D323A;
  color: #fff;
  @include column(3);
  padding: 0;

  .header {
    .title {
      color: #ced0d3;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      text-shadow: 2px 2px 0 #000;
      line-height: 93px;
      padding-left: 27px;
    }
  }

  .list {
    color: #f6f6f6;
    margin: 0;
    padding:0;
    height: 390px;
    overflow: hidden;
    overflow-y: scroll;
    background: #363C44;
    border-top: 4px solid #363C44;
    border-bottom: 4px solid #363C44;

    li {
      cursor: pointer;
      position: relative;
      list-style: none;
      margin: 0;
      padding:0;
      line-height: 65px;
      padding-left: 27px;
      background: #363C44;

      .remove { display: none; }

      &.active {
        background: #2D323A;

        .remove {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          font-size: 35px;
          color: #363C44;
          &:before {
            height: 65px;
            width: 58px;
            line-height: 68px;
            padding-left: 4px;
          }

          &.clicked {
            &:before {
              color: #AB394E;
              background: #C3485D;
            }
          }
        }
      }

    }
  }
}

.control {
  position: relative;
  height: 92px;
}

.new-note {
  background: rgb(54, 60, 68);
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border-radius: 25px;
  color: rgb(83, 137, 75);
  font-size: 28px;
  &:before {
    width: 40px;
    line-height: 41px;
  }
}
