<div class="header clearfix">
  <div class="left-decorative"></div>
  <div class="title" contenteditable="true">
    {{{title}}}
  </div>
</div>
<div class="content clearfix">
  <div class="body">
    <div class="left-decorative">
      <div class="secondary-content" contenteditable="true">
        {{{secondaryContent}}}
      </div>
    </div>
    <div class="note" contenteditable="true">
      {{{content}}}
    </div>
  </div>
</div>
<div class="footer clearfix">
  <div class="left-decorative"></div>
  <div class="footer-content">
    {{!<div class="progress typcn typcn-arrow-sync"></div>}}
    {{!<div class="date">}}
      {{!UPDATED: {{prettyDate}}
    {{!</div>}}
  </div>
</div>
