<div class="header clearfix">
  <div class="left-decorative"></div>
  <div class="title">
    &nbsp;
  </div>
</div>
<div class="content clearfix">
  <div class="body">
    <div class="left-decorative">
      <div class="secondary-content"></div>
    </div>
    <div class="note">
    </div>
  </div>
</div>
<div class="footer clearfix">
  <div class="left-decorative"></div>
  <div class="footer-content">
    <div class="date">
    </div>
  </div>
</div>

