---
title: The minimal notepad by Ross Nelson and Simian Creative
---

.main
  .sidebar
    .header.clearfix
      .title
        Notes
    .list-wrap
  .page-wrap
    .page
      .header.clearfix
        .left-decorative
        .title
          &nbsp;
      .content.clearfix
        .body
          .left-decorative
            .secondary-content
          .note
    
      .footer.clearfix
        .left-decorative
        .footer-content




